.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    height: 50px;
    width: 100%;
    border-top: 1px solid #000;
    background-color: #232323;
}

.footer p {
    color: #FF931E
}

.footer a {
    color: #FF931E;
    text-decoration: none;
}